# Draft on how to get data

In [1]:
# pandas, pandas_datareader, numpy and matplotlib
import numpy as np
import pandas as pd
from matplotlib import pyplot

## panda data reader

In [3]:
import pandas_datareader.data as web

In [4]:
stk_tickers = ['MSFT', 'IBM', 'GOOGL']
ccy_tickers = ['DEXJPUS', 'DEXUSUK']
idx_tickers = ['SP500', 'DJIA', 'VIXCLS']

stk_data = web.DataReader(stk_tickers, 'yahoo')
ccy_data = web.DataReader(ccy_tickers, 'fred')
idx_data = web.DataReader(idx_tickers, 'fred')

In [7]:
stk_data

Attributes   Adj Close                              Close              \
Symbols           MSFT         IBM      GOOGL        MSFT         IBM
Date
2017-11-24   78.407181  114.223793  52.826000   83.260002  145.162521
2017-11-27   78.981628  114.329102  53.600498   83.870003  145.296371
2017-11-28   79.932777  114.697701  53.164501   84.879997  145.764816
2017-11-29   78.482521  115.510124  51.868999   83.339996  146.797318
2017-11-30   79.264145  115.826080  51.808498   84.169998  147.198853
...                ...         ...        ...         ...         ...
2022-11-15  241.290009  144.339996  98.440002  241.970001  144.339996
2022-11-16  241.729996  144.520004  98.849998  241.729996  144.520004
2022-11-17  241.679993  146.089996  98.360001  241.679993  146.089996
2022-11-18  241.220001  147.639999  97.430000  241.220001  147.639999
2022-11-21  242.050003  146.679993  95.599998  242.050003  146.679993

Attributes                   High                                 Low  \
Symbols         GOOGL        MSFT         IBM       GOOGL        MSFT
Date
2017-11-24  52.826000   83.430000  145.506699   53.003502   82.779999
2017-11-27  53.600498   83.980003  145.783936   53.652000   83.300003
2017-11-28  53.164501   85.059998  146.204590   54.000000   84.019997
2017-11-29  51.868999   84.919998  146.854691   52.938499   83.180000
2017-11-30  51.808498   84.519997  147.619507   52.207001   83.339996
...               ...         ...         ...         ...         ...
2022-11-15  98.440002  247.000000  146.160004  100.139999  240.029999
2022-11-16  98.849998  243.800003  144.949997   99.639999  240.419998
2022-11-17  98.360001  243.250000  146.179993   99.279999  237.630005
2022-11-18  97.430000  243.740005  148.309998   98.900002  239.029999
2022-11-21  95.599998  244.669998  147.929993   98.400002  241.190002

Attributes                               Open                         \
Symbols            IBM      GOOGL        MSFT         IBM      GOOGL
Date
2017-11-24  144.674957  52.596001   83.010002  145.267685  52.719501
2017-11-27  144.952194  52.738499   83.309998  145.372849  52.928501
2017-11-28  145.028687  52.727001   84.070000  145.650101  53.699501
2017-11-29  145.478012  51.482498   84.709999  146.089859  52.808998
2017-11-30  146.347992  51.503502   83.510002  146.892929  51.997002
...                ...        ...         ...         ...        ...
2022-11-15  142.000000  96.709999  245.660004  144.080002  98.260002
2022-11-16  144.009995  97.639999  242.789993  144.130005  97.900002
2022-11-17  143.250000  96.790001  237.779999  143.410004  96.970001
2022-11-18  145.940002  96.370003  243.509995  146.559998  98.769997
2022-11-21  146.449997  95.360001  241.429993  147.550003  97.290001

Attributes      Volume
Symbols           MSFT        IBM       GOOGL
Date
2017-11-24   7425600.0  1247878.0  16492000.0
2017-11-27  18265200.0  3529204.0  35430000.0
2017-11-28  21926000.0  4156490.0  36424000.0
2017-11-29  27381100.0  5333240.0  55866000.0
2017-11-30  33054600.0  6799837.0  45092000.0
...                ...        ...         ...
2022-11-15  31390100.0  4727100.0  41640800.0
2022-11-16  24093300.0  3445200.0  29105200.0
2022-11-17  23123500.0  3954000.0  26052600.0
2022-11-18  27591800.0  4659700.0  28328800.0
2022-11-21  26378300.0  3475700.0  21626600.0

[1257 rows x 18 columns]

In [8]:
ccy_data

            DEXJPUS  DEXUSUK
DATE
2017-11-23      NaN      NaN
2017-11-24   111.54   1.3336
2017-11-27   111.00   1.3333
2017-11-28   111.13   1.3231
2017-11-29   111.75   1.3436
...             ...      ...
2022-11-14   140.43   1.1728
2022-11-15   139.36   1.1890
2022-11-16   139.59   1.1889
2022-11-17   140.45   1.1812
2022-11-18   140.03   1.1902

[1302 rows x 2 columns]

In [9]:
idx_data

              SP500      DJIA  VIXCLS
DATE
2017-11-23      NaN       NaN     NaN
2017-11-24  2602.42  23557.99    9.67
2017-11-27  2601.42  23580.78    9.87
2017-11-28  2627.04  23836.71   10.03
2017-11-29  2626.07  23940.68   10.70
...             ...       ...     ...
2022-11-15  3991.73  33592.92   24.54
2022-11-16  3958.79  33553.83   24.11
2022-11-17  3946.56  33546.32   23.93
2022-11-18  3965.34  33745.69   23.12
2022-11-21  3949.94  33700.28     NaN

[1303 rows x 3 columns]

Avantages : simple, infos financières complètes tous les jours

## Yahoo finance api

In [12]:
import yfinance as yf

In [13]:
pfe = yf.Ticker('PFE')
pfe.info

{'zip': '10017',
 'sector': 'Healthcare',
 'fullTimeEmployees': 79000,
 'longBusinessSummary': "Pfizer Inc. discovers, develops, manufactures, markets, distributes, and sells biopharmaceutical products worldwide. It offers medicines and vaccines in various therapeutic areas, including cardiovascular metabolic and women's health under the Premarin family and Eliquis brands; biologics, small molecules, immunotherapies, and biosimilars under the Ibrance, Xtandi, Sutent, Inlyta, Retacrit, Lorbrena, and Braftovi brands; and sterile injectable and anti-infective medicines, and oral COVID-19 treatment under the Sulperazon, Medrol, Zavicefta, Zithromax, Vfend, Panzyga, and Paxlovid brands. The company also provides medicines and vaccines in various therapeutic areas, such as pneumococcal disease, meningococcal disease, tick-borne encephalitis, and COVID-19 under the Comirnaty/BNT162b2, Nimenrix, FSME/IMMUN-TicoVac, Trumenba, and the Prevnar family brands; biosimilars for chronic immune and inflammatory diseases under the Xeljanz, Enbrel, Inflectra, Eucrisa/Staquis, and Cibinqo brands; and amyloidosis, hemophilia, and endocrine diseases under the Vyndaqel/Vyndamax, BeneFIX, and Genotropin brands. In addition, the company is involved in the contract manufacturing business. It serves wholesalers, retailers, hospitals, clinics, government agencies, pharmacies, and individual provider offices, as well as disease control and prevention centers. The company has collaboration agreements with Bristol-Myers Squibb Company; Astellas Pharma US, Inc.; Myovant Sciences Ltd.; Akcea Therapeutics, Inc; Merck KGaA; Valneva SE; BioNTech SE; and Arvinas, Inc. Pfizer Inc. was founded in 1849 and is headquartered in New York, New York.",
 'city': 'New York',
 'phone': '212 733 2323',
 'state': 'NY',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'https://www.pfizer.com',
 'maxAge': 1,
 'address1': '235 East 42nd Street',
 'industry': 'Drug Manufacturers—General',
 'ebitdaMargins': 0.44755,
 'profitMargins': 0.29806998,
 'grossMargins': 0.66162,
 'operatingCashflow': 26599000064,
 'revenueGrowth': -0.058,
 'operatingMargins': 0.39902002,
 'ebitda': 44700000256,
 'targetLowPrice': 44,
 'recommendationKey': 'buy',
 'grossProfits': 50627000000,
 'freeCashflow': 22792499200,
 'targetMedianPrice': 53,
 'currentPrice': 48.18,
 'earningsGrowth': 0.055,
 'currentRatio': 1.589,
 'returnOnAssets': 0.13301,
 'numberOfAnalystOpinions': 21,
 'targetMeanPrice': 54.78,
 'debtToEquity': 39.831,
 'returnOnEquity': 0.35507,
 'targetHighPrice': 75,
 'totalCash': 36131999744,
 'totalDebt': 36999000064,
 'totalRevenue': 99878002688,
 'totalCashPerShare': 6.437,
 'financialCurrency': 'USD',
 'revenuePerShare': 17.811,
 'quickRatio': 1.236,
 'recommendationMean': 2.3,
 'exchange': 'NYQ',
 'shortName': 'Pfizer, Inc.',
 'longName': 'Pfizer Inc.',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EST',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-18000000',
 'quoteType': 'EQUITY',
 'symbol': 'PFE',
 'messageBoardId': 'finmb_162270',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 2.719,
 'beta3Year': None,
 'enterpriseToEbitda': 6.076,
 '52WeekChange': -0.056773663,
 'morningStarRiskRating': None,
 'forwardEps': 4.92,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 5613309952,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 16.506,
 'sharesShort': 54691142,
 'sharesPercentSharesOut': 0.0097,
 'fundFamily': None,
 'lastFiscalYearEnd': 1640908800,
 'heldPercentInstitutions': 0.70518,
 'netIncomeToCommon': 29952999424,
 'trailingEps': 5.22,
 'lastDividendValue': 0.4,
 'SandP52WeekChange': -0.15792102,
 'priceToBook': 2.9189384,
 'heldPercentInsiders': 0.00045000002,
 'nextFiscalYearEnd': 1703980800,
 'yield': None,
 'mostRecentQuarter': 1664668800,
 'shortRatio': 2.46,
 'sharesShortPreviousMonthDate': 1664496000,
 'floatShares': 5608543220,
 'beta': 0.641639,
 'enterpriseValue': 271575498752,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1605571200,
 'lastSplitFactor': '1054:1000',
 'legalType': None,
 'lastDividendDate': 1667433600,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.057,
 'priceToSalesTrailing12Months': 2.7077963,
 'dateShortInterest': 1667174400,
 'pegRatio': 4.04,
 'ytdReturn': None,
 'forwardPE': 9.792683,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0097,
 'sharesShortPriorMonth': 60372206,
 'impliedSharesOutstanding': 0,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 48.23,
 'regularMarketOpen': 48.1,
 'twoHundredDayAverage': 49.12245,
 'trailingAnnualDividendYield': 0.032967035,
 'payoutRatio': 0.3046,
 'volume24Hr': None,
 'regularMarketDayHigh': 48.28,
 'navPrice': None,
 'averageDailyVolume10Day': 19082560,
 'regularMarketPreviousClose': 48.23,
 'fiftyDayAverage': 45.3652,
 'trailingAnnualDividendRate': 1.59,
 'open': 48.1,
 'toCurrency': None,
 'averageVolume10days': 19082560,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': 1.6,
 'exDividendDate': 1667433600,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 47.72,
 'currency': 'USD',
 'trailingPE': 9.229885,
 'regularMarketVolume': 13744723,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 270449278976,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 19916129,
 'dayLow': 47.72,
 'ask': 48.24,
 'askSize': 1800,
 'volume': 13744723,
 'fiftyTwoWeekHigh': 61.71,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 3.6,
 'fiftyTwoWeekLow': 41.45,
 'bid': 48.24,
 'tradeable': False,
 'dividendYield': 0.0332,
 'bidSize': 3000,
 'dayHigh': 48.28,
 'coinMarketCapLink': None,
 'regularMarketPrice': 48.18,
 'preMarketPrice': 48.04,
 'logo_url': 'https://logo.clearbit.com/pfizer.com',
 'trailingPegRatio': None}

In [15]:
pfe.actions

                           Dividends  Stock Splits
Date
1972-08-29 00:00:00-04:00   0.003163           0.0
1972-11-28 00:00:00-05:00   0.004151           0.0
1973-02-28 00:00:00-05:00   0.003163           0.0
1973-05-30 00:00:00-04:00   0.003163           0.0
1973-08-28 00:00:00-04:00   0.003163           0.0
...                              ...           ...
2021-11-04 00:00:00-04:00   0.390000           0.0
2022-01-27 00:00:00-05:00   0.400000           0.0
2022-05-12 00:00:00-04:00   0.400000           0.0
2022-07-28 00:00:00-04:00   0.400000           0.0
2022-11-03 00:00:00-04:00   0.400000           0.0

[208 rows x 2 columns]

In [20]:
pfe.history(period="50mo")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-09-24 00:00:00-04:00,35.720009,36.142731,35.630585,35.711880,18089591,0.0,0.0
2018-09-25 00:00:00-04:00,35.874458,36.004529,35.573678,35.598064,15318520,0.0,0.0
2018-09-26 00:00:00-04:00,35.638711,36.020786,35.476125,35.508640,18384817,0.0,0.0
2018-09-27 00:00:00-04:00,35.598068,35.915109,35.508645,35.687489,14887434,0.0,0.0
2018-09-28 00:00:00-04:00,35.711873,35.882589,35.549287,35.825684,15454591,0.0,0.0
...,...,...,...,...,...,...,...
2022-11-15 00:00:00-05:00,49.340000,49.529999,48.180000,48.570000,25440500,0.0,0.0
2022-11-16 00:00:00-05:00,48.799999,49.060001,48.049999,48.049999,15822200,0.0,0.0
2022-11-17 00:00:00-05:00,47.799999,48.500000,47.529999,48.330002,13231100,0.0,0.0
2022-11-18 00:00:00-05:00,48.639999,48.830002,47.869999,48.230000,20664300,0.0,0.0
2022-11-21 00:00:00-05:00,48.099998,48.279999,47.720001,48.180000,14734600,0.0,0.0

In [32]:
yf.download('AAPL')
#yf.download('AAPL', start_date, end_date)

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1980-12-12,0.128348,0.128906,0.128348,0.128348,0.099874,469033600
1980-12-15,0.122210,0.122210,0.121652,0.121652,0.094663,175884800
1980-12-16,0.113281,0.113281,0.112723,0.112723,0.087715,105728000
1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089886,86441600
1980-12-18,0.118862,0.119420,0.118862,0.118862,0.092492,73449600
...,...,...,...,...,...,...
2022-11-15,152.220001,153.589996,148.559998,150.039993,150.039993,89868300
2022-11-16,149.130005,149.869995,147.289993,148.789993,148.789993,64218300
2022-11-17,146.429993,151.479996,146.149994,150.720001,150.720001,80389400
2022-11-18,152.309998,152.699997,149.970001,151.289993,151.289993,74794600
2022-11-21,150.160004,150.369995,147.720001,148.009995,148.009995,58646900

https://pythoninvest.com/long-read/exploring-finance-apis#popup:subscribe

## List of tickers

Suggestions : potentiellement faire un dictionnaire entre les noms des entreprises et leur acronyme sur la bourse

OU BIEN

utiliser get all tickers api ==> Marche pas

In [26]:
from get_all_tickers import get_tickers as gt

list_of_tickers = gt.get_tickers(NYSE=False, NASDAQ=False, AMEX=True)

ParserError: Error tokenizing data. C error: Expected 1 fields in line 6, saw 47

openbb marche bof